{% extends 'accounts/account_template.html' %}
{% block title %}Forgot Password{% endblock %}
{% block area %}
    <h5 class="color-secondary font-bold mt-24">
        <span class="border-bottom-2 font-size-2rem">Forgot Password ?</span>
    </h5>
    <form method="POST" action="{% url "accounts:forgot_password" %}" id="forgot-password-form" onsubmit="return validateForgotPassword()" class="tz-account-form form-error" errortext="{{ form.non_field_errors.0 }}">
        <div class ="tz-form-error"><i class="fas fa-exclamation-circle"></i><span></span></div>
        {% csrf_token %}
        <div id="mobile-number-block" class="tz-form-group">
            <div class="tz-form-label" id="mobile-number-label">Please enter your registered mobile number.</div>
            <div  class="tz-relative">
                <span class="tz-default-num">+91</span>
                <input  type="number" name="phone" id="mobile-number" errortext="{{ form.phone.errors.0 }}" data-mask="0000000000" class="browser-default tz-account-input tz-remaining-num tz-rmvbtn-num-input"/>
            </div>
            <div class = "tz-input-error"><i class="fas fa-exclamation-circle"></i><span></span></div>
        </div>
        <div class="tz-account-btn-sec"><button class="btn waves-effect tz-account-btn">Verify</button></div>
    </form>
    <div class="tz-bottom-link-section">
        <span>Go back to </span><a href="{% url "accounts:login" %}" class="link">Login</a>
    </div>
{% endblock %}


