{% extends 'portal/base.html' %}
{% block title %}Change Password{% endblock %}
{% block custom_head_below %}
    <style>
        @media screen and (min-width: 720px){
          .tz-overflow, body{
            background:aliceblue
          }
        }
    </style>
{% endblock %}
{% block content %}
    <div class="tz-container">
        <div class="tz-change-password-container white">
            <h5 class="font-bold color-secondary">
                <span class="border-bottom-2 font-size-2rem">Change Password</span>
            </h5>
            <form action="{% url "accounts:password_change" %}" method="post" class="mt-32 mb-32 form-error" errortext="{{ form.non_field_errors.0 }}" onsubmit="return validateChangePassword()">
                <div class ="tz-form-error"><i class="fas fa-exclamation-circle"></i><span></span></div>
                {% csrf_token %}
                <div class="mb-16">
                    <div class="mb-4">Current Password</div>
                    <div  class="tz-relative">
                        <input type="password" name="old_password" id="current-password" errortext="{{ form.old_password.errors.0 }}" class="browser-default tz-account-input tz-password-input" required/>
                        <span class="showPassword tz-psswdicon-pos"><i class="fas fa-eye-slash font-size-20"></i></span>
                    </div>
                    <div class = "tz-input-error"><i class="fas fa-exclamation-circle"></i><span></span></div>
                </div>
                <div class="mb-16">
                    <div class="mb-4">New Password</div>
                    <div  class="tz-relative">
                        <input type="password" name="new_password1" id="new-password1" errortext="{{ form.new_password1.errors.0 }}" class="browser-default tz-account-input tz-password-input" required/>
                        <span class="showPassword tz-psswdicon-pos"><i class="fas fa-eye-slash font-size-20"></i></span>
                    </div>
                    <div class = "tz-input-error"><i class="fas fa-exclamation-circle"></i><span></span></div>
                </div>
                <div>
                    <div class="mb-4">Confirm New Password</div>
                    <div  class="tz-relative">
                        <input type="password" name="new_password2" id="new-password2" errortext="{{ form.new_password2.errors.0 }}" class="browser-default tz-account-input tz-password-input" required/>
                        <span class="showPassword tz-psswdicon-pos"><i class="fas fa-eye-slash font-size-20"></i></span>
                    </div>
                    <div class = "tz-input-error"><i class="fas fa-exclamation-circle"></i><span></span></div>
                </div>
                <div class="tz-account-btn-sec"><button class="btn waves-effect tz-account-btn">Change Password</button></div>
            </form>
        </div>
    </div>
{% endblock %}



