{% extends 'portal/base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="text-center container">
    <br><br>
        <h4 class="text-default text-center font-weight-bold">
            Welcome to Printmycopy
        </h4>
        <hr>
        <p class="text-default">Efficient printing service for your ease.</p>
        <a href="{% url "transactions:file_add" %}"><button class="btn btn-default">Add new file to print <i class="fa fa-plus"></i> </button></a>
        <hr style="margin-top: 16px;margin-bottom: 16px;">
        <p class="text-default">Print your Uploaded File.</p>
        <button class="btn modal-trigger" data-target="printFileModal">Print Now</button>
    </div>
    <div id="printFileModal" class="modal">
        <div class="modal-content" style="padding: 20px 18px">
            <h4 class="primary-bold-text font-size-18" style="color: rgba(0,0,0,0.5);">Print File : <span id="lz_print_code"></span></h4>
            <div class="divider mb-12"></div>
            <form action="{% url "transactions:print_now" %}" method="post" id="print_now_form">
                {% csrf_token %}
                <input hidden type="number" id="transaction_id" name="transaction_id">
                <div class="primary-bold-text mb-4">Print Code:</div>
                <input type="number" name="print_code" class="browser-default tz-printoption-input tz-rmvbtn-num-input mb-16">
                <div class="primary-bold-text mb-4">STN No:</div>
                <input type="text" name="station_code" class="browser-default tz-printoption-input tz-rmvbtn-num-input mb-16">
                <div class="primary-bold-text mb-4">SCR No:</div>
                <input type="text" name="security_code" class="browser-default tz-printoption-input tz-rmvbtn-num-input mb-16">
                <div class="right mt-8 mb-32">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat mr-4" style="border: 1px solid #ccc;color: #888;">Close</a>
                    <button type="submit" class="btn">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
